.bg-vinho{
    background-color: #800000;
}
.vh-100{
    height: 100vh;
}
.div-texto{
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    font-size: 19px;
    color: white;
    margin-left: 20px;
}
.imagem-perfil {
    border-radius: 100%;
    border: 10px solid #b30000;
}
.link-menu {
    color: white !important;
    text-decoration: none;
}

.link-menu:hover {
    color: #cc0000 !important;
}
/*sobre*/
.divisor{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-bottom: 100px;
}
.divisor-um{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-bottom: 100px;
}
.row{
    margin-right: unset;
    margin-left: unset;
}
.col-9{
    padding-right: unset;
    padding-left: unset;
}
.scroll{
    overflow-y: scroll;
}
.sobre {
    margin-left: 30px;
    margin-top: 130px;
    margin-bottom: 200px;
}
.font{
    font-family: 'Roboto Mono', monospace;
    font-size: 52px;
    padding-left: 40px;
    color: #262626;
    line-height: 0.6;
}
.cor-vinho{
    color: #b30000;
}
.font-subtitulo{
    font-size: 18px !important;
    color: #666666 !important;
}
.descricao{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    padding-left: 40px;
    margin-top: 75px;
    color: #595959!important;
}
.rede{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    margin-top: 50px;
}
.icone{
    text-align: center;
    cursor: pointer;
    width: 77px;
    border: 15px solid  #1a1a1a;
    margin-right: 30px;
    border-radius: 100%;
    color: white;
    font-size: 32px;
    background-color:  #1a1a1a;
}
.icone:hover {
    border: 15px solid #b30000;
    background-color: #b30000;
}
.link-rede-social{
    color: white !important;
    text-decoration: none;
}
/*escolaridade*/
.titulo-escolaridade{
    font-family: 'Roboto Mono', monospace; 
    font-size: 26px;
}
.escola{
    width: 90%;
    color:  #1a1a1a;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 40px;
    font-size: 25px;
    margin-bottom:100px;
    position: relative;
}
.font2{
    font-family: 'Roboto Mono', monospace;
    font-size:50px;
    color:  #1a1a1a
}
.data{
    position: absolute;
    color: #800000;
    top: 0px;
    right: 0px;

}
.escolaridade{
    margin-left: 40px;
    margin-bottom: 50px;
}
/*hobbies*/
.hobbies{
    margin-left: 40px;
    margin-bottom: 40px;
}
.hobbies-top{
    margin-top:64px;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
}
.cor-icone{
    color:#333333;
}
.cor-escrita{
    color: #1a1a1a;
}
/*habilidades*/
.abiliity-icone{
    margin-right: 35px;
    color:#737373;
}
.font-size{
    font-size: 25px;
}
.skills-icone{
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 60px;
    display: flex;
    flex-direction: row;
}
.div-escrita-linguaguem{
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
    margin-top: 100px;
    color:#4d4d4d;
}
.nome{
    font-size: 26px !important;
    font-family: 'Roboto Mono', monospace;
    color: #4d4d4d
}
/*interresses*/
.descricao2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #4d4d4d;
}
.interesses{
    margin-left: 40px;
}
@media (max-width: 320px) {
    .div-texto{
        font-size: 17px;
        margin-top: -23px;
    }
    .font {    
        font-size: 17px;
        padding-left: 0px;
        line-height: 0.86;
    }
    .font-subtitulo {
        font-size: 11px !important;
    }
    .descricao {
        font-size: 15px;
        padding-left: 0px;
        margin-top: 33px;
    }
    #menu{
        display: none;
    }
    .icone {
        width: 51px;
        height: 51px;
        font-size: 17px;
        margin-right: 20px;
    }
    .sobre {
        margin-top: 110px;
        margin-left: 2px;
        margin-bottom: 90px;
    }
    .rede {
        margin-top: 40px;
        padding-left: 0px;
    }
    .divisor-um{
        display: none;
    }
    .data {
        bottom: -38px;
        top: unset;
        left: 0px;
        right: unset;
        font-size: 21px;
    }
    .font2{
        font-size: 35px;
    }
    .escolaridade{
        margin-left: 1px;
    }
    .titulo-escolaridade {
        font-size: 14px;
    }
    .escola{
        width: 100%;
        margin-bottom: 95px;
        padding-left: 2px;
    }
    .mobile{
        font-size: 15px;
    }
    .hobbies {
        margin-left: 10px;
    }
    .ml-5{
        margin-left: unset !important;
    }
    .div-escrita-linguaguem {
        font-size: 19px;
        margin-top: 60px;
    }
    .skills-icone {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 50px;
    }
    .interesses {
        margin-left: 26px;
    }
}
@media (max-width: 375px) and (min-width: 321px){
    .div-texto{
        font-size: 17px;
        margin-top: -23px;
    }
    .font {    
        font-size: 20px;
        padding-left: 0px;
        line-height: 0.86;
    }
    .font-subtitulo {
        font-size: 13px !important;
    }
    .descricao {
        font-size: 16px;
        padding-left: 0px;
        margin-top: 42px;
    }
    #menu{
        display: none;
    }
    .divisor-um{
        display: none;
    }
    .icone {
        width: 51px;
        height: 51px;
        font-size: 17px;
        margin-right: 20px;
    }
    .sobre {
        margin-top: 110px;
        margin-left: 2px;
    }
    .rede {
        margin-top: 40px;
        padding-left: 0px;
    }
    .rede {
        margin-top: 40px;
        padding-left: 2px;
    }
    .data {
        bottom: -32px;
        top: unset;
        left: 0px;
        right: unset;
        font-size: 21px;
    }
    .font2{
        font-size: 44px;
    }
    .escolaridade{
        margin-left: 1px;
    }
    .titulo-escolaridade {
        font-size: 14px;
    }
    .escola{
        width: 100%;
        margin-bottom: 95px;
        padding-left: 2px;
    }
    .mobile{
        font-size: 15px;
    }
    .hobbies {
        margin-left: 10px;
    }
    .ml-5, .mx-5 {
        margin-left: unset !important;
    }
    .div-escrita-linguaguem{
        font-size: 22px;
        margin-top: 50px;
    }
    .skills-icone {
        margin-top: 35px;
        margin-bottom: 25px;
        font-size: 50px;
    }
    .interesses {
        margin-left: 10px;
    }
}
@media (max-width: 576px) and (min-width:  376px) {
    .div-texto{
        font-size: 17px;
        margin-top: -23px;
    }
    .font {    
        font-size: 23px;
        padding-left: 0px;
        line-height: 0.86;
    }
    .font-subtitulo {
        font-size: 12px !important;
    }
    .descricao {
        font-size: 17px;
        padding-left: 1px;
        margin-top: 42px;
    }
    #menu{
        display: none;
    }
    .divisor-um{
        display: none;
    }
    .icone {
        width: 53px;
        height: 55px;
        font-size: 20px;
    }
    .sobre {
        margin-top: 110px;
        margin-left: 2px;
    }
    .rede {
        margin-top: 40px;
        padding-left: 2px;
    }
    .data {
        bottom: -32px;
        top: unset;
        left: 0px;
        right: unset;
        font-size: 21px;
    }
    .escolaridade{
        margin-left: 1px;
    }
    .titulo-escolaridade{
        font-size: 17px;
    }
    .escola{
        width: 100%;
        margin-bottom: 95px;
        padding-left: 2px;
    }
    .mobile{
        font-size: 15px;
    }
    .hobbies {
        margin-left: 15px;
    }
    .ml-5{
        margin-left: unset !important;
    }
    .div-escrita-linguaguem{
        margin-top: 50px;
    }
    .interesses {
        margin-left: 21px;
    }
}
  
@media (max-width: 768px) and (min-width: 577px){
    .div-texto{
        font-size: 17px;
        margin-top: -23px;
    }
    .font {
        font-size: 30px;
        padding-left: 8px;
    }
    .font-subtitulo {
        font-size: 12px !important;
    }
    .descricao {
        font-size: 17px;
        padding-left: 8px;
        margin-top: 42px;
    }
    #menu{
        display: none;
    }
    .divisor-um{
        display: none;
    }
    .icone {
        width: 60px;
        height: 60px;
        font-size: 23px;
    }
    .sobre {
        margin-left: 8px;
        margin-top: 170px;
    }
    .rede {
        margin-top: 58px;
        padding-left: 10px;
    }
    .data{
        font-size: 18px;
    }
    .escola{
        width: 96%;
    }
    .titulo-escolaridade{
        font-size: 19px;
    }
    .interesses {
        margin-left: 14px;
    }
}
@media (max-width: 1200px) and (min-width: 993px) {
    .font-subtitulo {
        font-size: 14px !important;
    }
    .font {
        font-size: 38px;
    }
    .ml-5{
        margin-left: unset !important;
    }
    .mt-5{
        margin-top: unset !important;
    }
    .div-texto {
        font-size: 17px;
        margin-top: -10px;
    }
    .sobre {
        margin-left: 4px;
        margin-top: 100px;
    }
    .descricao {
        font-size: 17px;
        padding-left: 30px;
        margin-top: 55px;
    }
    .icone {
        width: 56px;
        font-size: 19px;
    }
    .escola{
        padding-left: 26px;
        width: 100%;
    }
    .titulo-escolaridade{
        font-size: 22px;
    }
    .data{
        font-size: 18px;
    }
    .habilidade{
        padding-left: 50px;
    }
}
@media (max-width: 1440px) and (min-width: 1200px) {
    .sobre{
        margin-bottom: 150px;
        margin-left: 6px;
    }
}
@media (max-width: 2560px) and (min-width: 1441px) {
    .pl-5, .px-5 {
        padding-left: 11.5rem!important;
    }    
    .bg-vinho{
        padding-top: 136px;
    }
}